@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600;700;800&display=swap');

*,::after,::before{
    box-sizing: border-box;
}

:root {
    --color-principal: #021626;
    --color-principal-trans: rgba(2, 22, 38, 0.9);
    --color-secundario: #073846;
    --color-secundario-trans: rgba(7, 56, 70, 0.9);
    --color-terciario: #072736;
    --color-terciario-trans: rgba(7, 39, 54, 0.9);
    --color-letra-1: #259385;
    --color-letra: #0cd9dc;
    --white-color: #e0ebed;
}

html{
    font-family: 'Bodoni Moda', serif;
    scroll-behavior: smooth;
    font-size: 16px;
    
}

img {
    max-width: 100%;
}

body{
    margin: 0;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: white;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none;
}

.flex{
    display: flex;
}

p{
    margin: 0;
}

[id] {
    scroll-margin-top: 2ex;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}


.btn {
    display: inline-block;
    background-color: crimson;
    padding: 7px 13px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s ease,color 0.3s ease;

    &:hover{
        background-color: darken($color: crimson, $amount: 5);
        color: darken($color: white, $amount: 10);
    }
}